p {
  margin: 0px;
  font-weight: 100;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-family: 'Roboto', sans-serif;
  color: #434455;
  width: calc((100% - 10px) / 2);
  display: inline-block;
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.btnSubmit {
  cursor: pointer;
  height: auto;
  max-width: 300px;
  background-color: #fff;
  border-radius: 30px;
  border-color: burlywood;
}
.btnSubmit:hover,
.btnSubmit:active {
  background-color: blue;
  color: #fff;
}
.gallery {
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 30px;
  padding-top: 50px;
  display: flex;
}
.photo-card {
  border-radius: 5px;
  flex-basis: calc(25% - 22.5px);
  box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16),
    0 2px 1px rgba(46, 47, 66, 0.08);
}
.photo-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.info {
  border-width: 0 1px 1px;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
}
.info-item {
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
.load {
  max-width: 350px;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  border-color: black;
  cursor: pointer;
}
.load:hover,
.load:active {
  background-color: blue;
  color: #fff;
}
.isHidden {
  display: none;
  cursor: none;
}
